@import "tailwindcss";

:root {
  font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-bg-gradient {
  background: linear-gradient(to right, rgba(255, 248, 245, 1) 0%, rgba(255, 248, 245, 1) 30%, rgba(255, 248, 245, 0.6) 60%, rgba(255, 248, 245, 0) 100%);
}

.bg-map-image {
  background-image: url("/assets/poland-map.webp");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-centering-padding {
  padding-left: calc(50% - 44vw);
  padding-right: calc(50% - 44vw);
}

@media (min-width: 768px) {
  .gallery-centering-padding {
    padding-left: calc(50% - 375px);
    padding-right: calc(50% - 375px);
  }
}
